@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@font-face {
  font-family: '양진체';
  src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.spinner-inner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #000;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-focus:focus {
  outline: none;
  border-color: transparent;
}

.text-18 {
  font-size: 18px;
}

.text-14 {
  font-size: 14px;
}

.text-24 {
  font-size: 24px;
}

.font-semibold {
  font-weight: 600;
}

.font-regular {
  font-weight: 400;
}
.button-next {
  width: 30px;
  height: 30px;
}
.button-prev {
  width: 30px;
  height: 30px;
}
.box-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .Banner-box {
    position: absolute;
    bottom: 70px;
    left: 125px;
  }
}
